// Resets

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}
blockquote, q { 
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del { 
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
input, select {
  vertical-align: middle;
}
pre {
  white-space: pre; // CSS2
  white-space: pre-wrap; // CSS 2.1
  white-space: pre-line;// CSS 3 (and 2.1 as well, actually)
  word-wrap: break-word; // IE
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input  {
  vertical-align: text-bottom;
}
select, input, textarea {
  font: 99% sans-serif;
}
table  {
  font-size: inherit;
  font: 100%;
} 
a:hover, a:active {
  outline: none;
}
small {
  font-size: 85%;
}
strong, th { 
  font-weight:bold;
  font-weight:700;
}
td, td img {
  vertical-align: top;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup { 
  top: -0.5em;
}
sub { 
  bottom: -0.25em;
}
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}
.clickable,label, input[type=button], input[type=submit], button {
  cursor: pointer;
}
// Webkit browsers add a 2px margin outside the chrome of form elements
button, input, select, textarea {
  margin: 0;
}
// make buttons play nice in IE
button { 
  width: auto;
  overflow: visible;
 }
// let's clear some floats
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}