// SASS setup items

// Colors

$pantone-green: #009B77;
$dark-grey: #1A1A1A;
$link-blue: #0645AD;
$about-red: #D60054;
$contact-green: #00C36A;

$alfred-color: #5C1F87;
$trickits-color: #221913;
$sports-digest-color: #00ae5a;
$alton-convent-color: #003f77;
$mtp-color: #00afef;
$backpagefootball-color: #9bcb5d;
$toto-color: #c44249;
$cold-claim-color: #1e2f39;
$super-better-color: #e91c7f;
$pantera-color: #8b1d1d;
$hip-hop-quoted-color: #650b0b;
$river-ranger-color: #273f59;
$dragimals-color: #004f33;

$white: #ffffff;

$button-width: 46px;                    // The width of the button area
$button-height: 46px;                   // The height of the button area
$bar-thickness: 4px;                    // The thickness of the button bars
$button-pad: 8px;                       // The left/right padding between button area and bars.
$button-bar-space: 4px;                 // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration

// Margins


$margin-normal: gs-gutter(cap, false, true);

// Fonts

@font-face {
  font-family: 'social';
  src: url('../fonts/social/social.eot?3947581');
  src: url('../fonts/social/social.eot?3947581#iefix') format('embedded-opentype'),
       url('../fonts/social/social.woff?3947581') format('woff'),
       url('../fonts/social/social.ttf?3947581') format('truetype'),
       url('../fonts/social/social.svg?3947581#social') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter-bird:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-googleplus-rect:before { content: '\e803'; } /* '' */

@font-face {
  font-family: 'minkregular';
  src: url('../fonts/mink-update-webfont.eot');
  src: url('../fonts/mink-update-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mink-update-webfont.woff2') format('woff2'),
       url('../fonts/mink-update-webfont.woff') format('woff'),
       url('../fonts/mink-update-webfont.ttf') format('truetype'),
       url('../fonts/mink-update-webfont.svg#minkregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$sentinel: 'Sentinel SSm A', 'Sentinel SSm B', 'Georgia', serif;
$quarto: 'Quarto A', 'Quarto B', 'Georgia', serif;
$mink: 'minkregular';

// Mixins

// Color schemes

@mixin colour-scheme($color, $path, $image) {

  $url: "../images/#{$path}/#{$image}.jpg";

  background-image: url($url);
  background-size: 105% auto;
  background-repeat: no-repeat;
  background-position: top center;
  @media screen and (max-width: 600px) {
    background-size: 150% auto;
  }
  @media screen and (max-width: 450px) {
    background-size: 160% auto;
  }
  a:hover {
    color: $color;
  }
  .navigation {
    a.active,
    a:hover {
      color: $color;
    }
  }
  @media screen and (max-width: 600px) {
    .page-nav {
      background-color: rgba($color, 0.9);
      a.active,
      a:hover {
        color: $dark-grey;
      }
    }
  }
  .social-links {
    a {
      color: $color;
      &:hover {
        color: $dark-grey;
      }
      @media screen and (max-width: 600px) {
        color: $white;
        &:hover {
          color: $dark-grey;
        }
      }
    }
  }
  blockquote {
    color: $color;
    a {
      color: $white;
      &:hover {
        color: $dark-grey;
      }
    }
  }
  .logo {
    path {
      fill: $color;
    }
    &:hover path {
      fill: $dark-grey;
    }
  }
  #work-bar {
    background-color: darken($color, 5%);
    color: #fff;
    a {
      color: lighten($color, 20%);
      &:hover {
        color: lighten($color, 30%);
      }
    }
  }
  // .work-header {
  //   h1+p {
  //     background-color: rgba($dark-grey,0.4);
  //     display: inline-block;
  //     padding: 0.2em;
  //   }
  // }
  .client-intro {
    p:first-of-type:first-letter {
      color: $color;
    }
  }
  .sub-text:first-letter {
    color: $color;
  }
  .work-nav {
    a {
      background-color: rgba($color, 0.95);
      color: $white;
      &:hover {
        background-color: $dark-grey;
        color: $white;
      }
    }
    @media screen and (max-width: 550px) {
      li.prev {
        border-right: 1px solid darken($color, 5%);
        &.last {
          border: 0;
        }
      }
      a {
        background-color: rgba($color, 0.95);
        color: $white;
        border: 0;
      }
    }
  }
  .button {
    background-color: $color;
    color: $white;
    &:hover {
      background-color: $dark-grey;
      color: $white;
    }
  }
}

@mixin work-list-hover($color) {
  a:after {
    background-color: rgba($color, 0);
  } 
  a:hover:after {
    background-color: rgba($color, 0.4);
  }
}

// Box sizing
@mixin box-sizing($sizing-type) {
  -moz-box-sizing:$sizing-type;
  -webkit-box-sizing:$sizing-type;
  box-sizing:$sizing-type;
}

// Transitions
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

// Transforms
@mixin transform($transform...) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transition: $transform;
}

// Gradients
@mixin gradient-directional($startColor: #555, $endColor: #333, $deg: 45deg) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient($deg, $startColor, $endColor); // IE10
  background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient($deg, $startColor, $endColor); // The standard
}

// Extends

// @extend %clearfix;
%clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
    zoom: 1;
  }
}

// @extend %first-letter
%first-letter {
  &:first-letter {
    color: $dark-grey;
    font: 800 3.2em/0.5 $quarto;
    left: -0.5em;
    float: left;
    margin: 0.2em 0.1em 0.2em 0;
    position: relative;
    top: -0.2em;
    @media screen and (max-width: 550px) {
      font-size: 2.8em;
      margin: 0.2em 0.2em 0.2em 0;
    }
  }
  @-moz-document url-prefix() {
    &:first-letter {
      margin-bottom: 0;
    }
  }
}

// @extend %vertical-align
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}