// font-family: 'Knockout 48 A', 'Knockout 48 B'; font-weight: 400; font-style: normal;
// font-family: ; font-weight: 400; font-style: normal;
// font-family: 'Quarto A', 'Quarto B'; font-weight: 700; font-style: normal;

@import "partials/common";
@import "partials/reset";

// Basic layout setup

html {
  height:100%;
  width:100%;
}
body {
  background-color: #fff;
  color: $dark-grey;
  font: 300 125%/1.5 $sentinel;
  min-height: 100%;
  height: 100%;
  position: relative;
  width:100%;
}
section {
  padding: 7em 2em 3em;
  @include box-sizing(border-box);
  @media screen and (max-width: 400px) {
    padding: 7em 1em 3em;
  }
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
hr {
  background-color: #e1e1e1;
  border: 0;
  clear:both;
  height: 1px;
  margin: 3em 0 3em;
  width: 100%;
}
.row {
  margin: 0 auto 3em;
  //max-width: 700px;
  @extend %clearfix;
  &.narrow {
    max-width: 700px;
  }
}
.col {
  float: left;
  h2, h3, h4 {
    text-align: left;
  }
  &.last {
    margin-right: 0;
  }
}
.col-3 {
  margin-right: 5%;
  width: 30%;
}
.col-2 {
  margin-right: 5%;
  width: 47.5%;
}
@media screen and (max-width: 700px)  {
  .col-2, .col-3 {
    float: none;
    margin: 0 auto 1.5em;
    max-width: 700px;
    width: 100%;
  }
}

// Typography

h1, h2, h3, h4, 
.intro:first-of-type:first-letter, 
.blog-entry div>p:first-of-type:first-letter {
  font-family: $quatro;
  font-weight: 600;
  text-align: center;
}
h1 {
  font-size: 4em;
  line-height: 1;
  margin-bottom: 0.8em;
  text-align: center;
  @media screen and (max-width: 550px) {
    font-size: 3em;
  }
}
h2 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 0.75em;
  + small {
    display: block;
    margin: -1em 0 1em;
    text-align: center;
  }
}
h3 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
p {
  margin: 0 auto 1.5em;
  max-width: 700px;
  width: 100%;
  &.intro {
    font-size: 1.2em;
    text-align: left;
    @extend %first-letter;
    @media screen and (max-width: 550px) {
      font-size: 1em;
    }
  }
}
strong {
  color: #000;
  font-weight: 700;
}
figure {
  text-align: center;
}
blockquote {
  font-family: $quatro;
  font-style: italic;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  padding: 0 2em;
  &:before {
    content: '“';
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: 0.2;
  }
  @media screen and (max-width: 550px) {
    font-size: 1.2em;
  }
  @media screen and (max-width: 400px) {
    padding: 0;
  }
}
ul {
  margin: 0 0 1em 1em;
  padding: 0;
}

// Links

a {
  color: $dark-grey;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $dark-grey;
  }
}

// Social

.social-icons {
  span {
    display: none;
  }
  margin: 0 0 1.5em;
  padding: 0;
  li {
    display: inline;
    margin-right: 1em;
    font-size: 1.4em;
    &:last-child {
      margin: 0;
    }
  }
}

// Forms 

input, textarea {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  display: block;
  font-family: $sentinel;
  font-size: 1.2em;
  padding: 0.6em;
  @include box-sizing(border-box);
  width: 100%;
  &[type="radio"],
  &[type="checkbox"] {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: auto;
  }
}
textarea {
  min-height: 300px;
}
label {
  display: block;
  margin-bottom: 0.2em;
  > input {
    border: 0;
    display: inline-block;
    margin-right: 0.5em;
    position: relative;
    top: -2px;
    vertical-align: middle;
  }
}
fieldset {
  > div {
    margin-bottom: 1.5em;
    &:last-child {
      margin: 0;
    }
    &.radios > label {
      text-align: center;
    }
  }
}
.req {
  color: $contact-green;
  font-weight: 800;
}

.button {
  background-color: $dark-grey;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: $sentinel;
  font-weight: 300;
  font-size: 1.2em;
  margin: 0 auto;
  padding:0.6em 2em;
  text-align: center;
  @include box-sizing(border-box);
  -webkit-appearance: none;
  &:hover {
    background-color: darken($dark-grey, 10%);
    color: #fff;
    @include transition(background-color 0.1s linear);
  }
  @media screen and (max-width: 400px) {
    font-size: 1em;
    width: 100%;
  }
}

// Header 

#header {
  left: 0;
  padding: 2em;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 100;
  @media screen and (max-width: 550px) {
    padding: 2em 0;
  }
}
nav {
  //font-family: 'Quarto A', 'Quarto B', 'Georgia', sans-serif;
  //font-size: 1.2em;
  font-weight: 400;
  ul {
    margin: 0;
  }
  li {
    display: inline;
    margin-right: 2em;
    &:nth-child(2) {
      margin-right: 200px;
    }
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 650px) {
      margin-right: 1.5em;
      &:nth-child(2) {
        margin-right: 160px;
      }
    }
  }
  @media screen and (max-width: 550px) {
    font-size: 0.9em;
    margin-top: 2.5em;
    li {
      margin-right: 1em;
      &:nth-child(2) {
        margin-right: 1em;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
#logo {
  left: 50%;
  height: 73px;
  margin-left: -40px;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  top: 1em;
  width: 80px;
  @include transition(opacity 0.1s linear);
  > svg {
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
  }
  .logo-left {
    fill: #fff;
  }
  .logo-right {
    fill: #e1e1e1;
  }
  &:hover {
    opacity: 0.5;
  }
  @media screen and (max-width: 550px) {
    top: 1em;
    margin-left: -30px;
    width: 60px;
  }
}

// Footer

#footer {
  border-top: 1px solid #e1e1e1;
  padding: 3em 2em;
  text-align: center;
  ul:last-child {
    margin: 0;
    list-style: none;
  }
}

// Homepage 

.page-index.js {
  background: #fff url("/images/loading-spin.svg") no-repeat center;
  background-size: 100px;
}
.featured {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  height: 100%;
  max-height: 1000px;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  article {
    display: none;
    padding: 0 2em;
    position: relative;
    z-index: 10;
    @extend %vertical-align;
    @include box-sizing(border-box);
  }
  h2 {
    font-size: 4em;
    margin-bottom: 0.3em;
    line-height: 1;
    @media screen and (max-width: 900px) {
      font-size: 3em;
    }
    @media screen and (max-width: 700px) {
      font-size: 2.5em;
    }
    @media screen and (max-width: 400px) {
      font-size: 2em;
    }
  }
  a {
    color: #fff;
  }
  @media screen and (max-width: 400px)  {
    background-size: 250%;
    background-attachment: scroll;
    min-height: 100%;
    article {
      top: 55%;
      padding: 0 1em;
    }
  }
  @media only screen and (device-width: 768px) {
    background-size: 210%;
    background-position: top;
  }
}

.home {
  margin: 0 auto;
  max-width: 700px;
  padding: 3em 2em;
  text-align: center;
  width: 100%;
  @include box-sizing(border-box);
  > h1 {
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;
  }
  > p {
    // text-indent: 1em;
    text-align: left;
  }
  hr:last-child {
    display: none;
  }
  @media screen and (max-width: 400px) {
    padding: 2em 1em;
    max-width: 100%;
    h1 {
      font-size: 1.8em;
    }
  }
}

// Per client body class changes

// Alfred

body.alfred-app {
  background-image: none;
  @include colour-scheme($alfred-color, $button: true, $lighten: true);
  .featured {
    //background-color: $alfred-color;
    background-image: url('/images/work/alfred-app/alfred-app-background.jpg');
    article.ft-alfred-app {
      display: block;
    }
  }
  &.page-index {
    @include colour-scheme($alfred-color, $button: true, $lighten: false);
  }
}

body.trickits {
  background-image: none;
  @include colour-scheme($trickits-color, $button: true, $lighten: true);
  .featured {
    //background-color: $trickits-color;
    background-image: url('/images/work/trickits/trickits-featured.jpg');
    article.ft-trickits {
      display: block;
    }
  }
  &.page-index {
    @include colour-scheme($trickits-color, $button: true, $lighten: false);
  }
}

body.sports-digest-8-50 {
  background-image: none;
  @include colour-scheme($sports-digest-color, $button: true, $lighten: true);
  .featured {
    //background-color: $sports-digest-color;
    background-image: url('/images/work/sports-digest-8-50/8-50-background.jpg');
    article.ft-sports-digest-8-50 {
      display: block;
    }
  }
  &.page-index {
    @include colour-scheme($sports-digest-color, $button: true, $lighten: false);
  }
}

body.alton-convent-school {
  background-image: none;
  @include colour-scheme($alton-convent-color, $button: true, $lighten: true);
  .featured {
    //background-color: $alton-convent-color;
    background-image: url('/images/work/alton-convent-school/alton-convent-background.jpg');
    article.ft-alton-convent-school {
      display: block;
    }
  }
  &.page-index {
    @include colour-scheme($alton-convent-color, $button: true, $lighten: false);
  }
}

body.mind-the-product {
  @include colour-scheme($mtp-color, $button: true, $lighten: true);
}

body.backpagefootball {
  @include colour-scheme($backpagefootball-color, $button: true, $lighten: true);
}

body.toto {
  @include colour-scheme($toto-color, $button: true, $lighten: true);
}

body.cold-claim {
  @include colour-scheme($cold-claim-color, $button: true, $lighten: true);
}

body.super-better {
  @include colour-scheme($super-better-color, $button: true, $lighten: true);
}

// Work page 

.page-work {
  @include colour-scheme($dark-grey, $button: true, $lighten: true);
}
.work-list {
  letter-spacing: -4px;
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 3em;
  text-align: center;
  word-spacing: -4px;
  width: 100%;
  li {
    display: inline-block;
    list-style: none;
    letter-spacing: 0;
    position: relative;
    word-spacing: 0;
    vertical-align: top;
    width: 50%;
    //width: 33.333333333333333%;
    @include transition(all 0.01s linear);
    &:hover {
      box-shadow: 0 0 30px rgba(#000, 0.3);
      z-index: 10;
      transform: scale(1.02);
    }
    h2 {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  &.feature {
    max-width: 1000px;
    li {
      width: 33.333333333333333%;
    }
  }
  @media screen and (max-width: 550px) {
    max-width: 100%;
    li {
      display: block;
      width: 100%;
    }
    &.feature {
      li {
        display: block;
        width: 100%;
      }
    }
  }
}
.work-nav {
  li {
    list-style: none;
    margin-top: -60px;
    bottom: 50%;
    position: fixed;
    z-index: 100;
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }
  a {
    display: block;
    font-size: 2em;
    line-height: 0.5;
    padding: 0.8em 0.8em 1em;
    text-align: center;
    @include transition(background-color 0.1s linear);
    > span {
      display: none;
    }
  }
  @media screen and (max-width: 550px) {
    li {
      bottom: 0;
      position: absolute;
      width: 50%;
      > a {
        line-height: 0.5;
        padding: 0.3em 0.3em 0.5em;
      }
      &.first, &.last {
        width: 100%;
      }
    }
  }
}
.work-item {
  padding: 0;
  > div {
    margin: 0 auto;
    max-width: 1000px;
    padding: 3em 2em;
    width: 100%;
    @include box-sizing(border-box);
    @media screen and (max-width: 550px) {
      max-width: 100%;
      padding: 3em 1em;
    }
  }
  h1 {
    margin-bottom: 0.2em;
  }
  p {
    max-width: 100%;
    width: 100%;
    &.intro {
      font-size: 1em;
      float: left;
      margin: 0 10% 0 0;
      width: 60%;
      @media screen and (max-width: 700px) {
        float: none;
        margin-bottom: 2em;
        width: 100%;
      }
    }
    &.sub-text {
      margin: 0 auto 2em;
      max-width: 700px;
    }
  }
  .client-header {
    padding: 7em 0 0;
    position: relative;
    @include box-sizing(border-box);
    @extend %header-shadow;
    @media only screen and (device-width: 768px) {
      img {
        max-width: auto;
        width: 100%;
      }
    }
  }
}
.project-link {
  text-align: center;
}
.hire {
  font-size: 2.4em;
  margin: 0;
  text-align: center;
  @media screen and (max-width: 700px) {
    font-size: 1.8em;
  }
}
.what-we-did {
  float: left;
  //font-size: 1.2em;
  width: 30%;
  h2 {
    margin: 0;
    text-align: left;
  }
  li {
    margin-bottom: 0.27em;
  }
  @media screen and (max-width: 700px) {
    float: none;
    margin-left: 1em;
    width: 100%;
  }
}
.gallery {
  .image {
    background-color: #f2f2f2;
    margin-bottom: 2em;
    padding: 3em;
    @media screen and (max-width: 800px) {
      padding: 1em;
    }
  }
}

// Individual client pages


// Blog 

.page-blog, .page-tags {
  a {
    color: $link-blue;
    &:hover, &.active {
      color: #000;
    }
  }
  #logo {
    .logo-left {
      fill: lighten($link-blue, 30%);
    }
    .logo-right {
      fill: $link-blue;
    }
  }
}
.blog {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  @media screen and (max-width: 675px) {
    max-width: 100%;
  }
  h1,h2 {
    margin: 0 0 0.5em;
    text-align: center;
  }
  small {
    color: lighten($link-blue, 30%);
    display: block;
    margin-bottom: 1em;
    text-align: center;
  }
  .meta {
    color: lighten($link-blue, 30%);
    display: block;
    margin-bottom: 1em;
    text-align: center;
  }
  .read-more {
    text-align: center;
  }
  .tags {
    color: #999;
    font-size: 0.9em;
  }
  article {
    margin-bottom: 3em;
    img {
      display: block;
      margin: 0 auto 2em;
    }
    > p {
      text-indent: 1em;
    }
    @media screen and (max-width: 500px) {
      &.summary {
        p {
          //hyphens: auto;
          white-space: pre-wrap;
          word-break: break-all;
        }
      }
    }
  }
  .blog-entry div>p:first-of-type:first-letter {
    @extend %first-letter;
  }
  .blog-entry {
    h2,h3,h4 {
      text-align: left;
    }
    ul {
      margin-left: 2.5em;
      padding-right: 2em;
      &.article-nav {
        margin: 2em 0 0 0;
        padding: 2em 0 0 0;
      }
    }
    blockquote {
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      margin: 1em 0;
      padding-top: 2em;
      &:before {
        display: block;
        height: 30px;
      }
    }
  }
}
.article-nav {
  border-top: 1px solid #e1e1e1;
  font-size: 0.8em;
  letter-spacing: -4px;
  margin: 2em 0 0 0;
  padding-top: 2em;
  word-spacing: -4px;
  li {
    display: inline-block;
    letter-spacing: 0;
    word-spacing: 0;
    width: 50%;
    @include box-sizing(border-box);
    &:nth-child(1) {
      padding-right: 1em;
    }
    &:nth-child(2) {
      padding-left: 1em;
      text-align: right;
    }
    @media screen and (max-width: 400px) {
      display: block;
      margin-bottom: 0.5em;
      width: 100%;
      &.first-child,
      &.last-child {
        padding: 0;
      }
    }
  }
  @extend %clearfix;
}

// About & Contact pages

body.page-about {
  @include colour-scheme($about-red, $button: true, $lighten: true);
}
body.page-contact {
  @include colour-scheme($contact-green, $button: false, $lighten: true);
  text-align: center;
}
body.page-thank-you {
  @include colour-scheme($contact-green, $button: false, $lighten: true);
  text-align: center;
}
.contact-menu {
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  margin: 0 auto;
  max-width: 700px;
  overflow: hidden;
  width: 100%;
  @include box-sizing(border-box);
  li {
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: inline;
    float: left;
    font-size: 1.4em;
    width: 50%;
    @include box-sizing(border-box);
    > a {
      display: block;
      padding: 0.8em;
    }
    &.active {
      border-bottom: 0;
    }
  }
  @media screen and (max-width: 500px) {
    border:0;
    li {
      border: 0;
      border: 1px solid #e1e1e1;
      display: block;
      float: none;
      width: 100%;
      &:first-child {
        border-bottom: 0;
      }
      &.active {
        border-bottom: 1px solid #e1e1e1;
        a {
          background-color: #f2f2f2;
        }
        &:first-child {
          border-bottom: 0;
        }
      }
    }
  }
}
.contact-form {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 auto;
  max-width: 700px;
  padding: 1em;
  text-align: left;
  width: 100%;
  @include box-sizing(border-box);
  @include transition(opacity 0.01s linear);
  &.hidden {
    display: none;
    opacity: 0;
  }
  &.active {
    display: block;
    opacity: 1;
  }
}
section.about, section.contact {
  padding: 0;
  header {
    padding: 7em 2em 3em;
    @media screen and (max-width: 550px) {
      padding: 7em 1em 3em;
    }
  }
  .intro:first-of-type:first-letter {
    color: #fff;
  }
  > div {
    margin: 0 auto;
    max-width: 1000px;
    padding: 3em 2em;
    width: 100%;
    @include box-sizing(border-box);
    @media screen and (max-width: 550px) {
      max-width: 100%;
      padding: 3em 1em;
    }
  }
  .button:hover {
    background-color: $contact-green;
  }
}
section.contact {
  > div {
    padding-bottom: 4em;
  }
}
.email-contact {
  margin-top: 3em;
}

// Some ie8 fixes 
.ie8 {
  #logo {
    background: url('../images/logo.png') no-repeat center;
    height: 80px;
    width: 80px;
  }
  nav {
    margin-right: -45px;
    li:first-child + li {
      margin-right: 200px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .work-item {
    > div:first-child {
      margin: 0 auto;
      width: 1000px;
    }
  }
}