// font-family: 'Knockout 48 A', 'Knockout 48 B'; font-weight: 400; font-style: normal;
// font-family: ; font-weight: 400; font-style: normal;
// font-family: 'Quarto A', 'Quarto B'; font-weight: 700; font-style: normal;

@import "partials/common";
@import "partials/reset";

// Basic layout setup

html {
  height:100%;
  width:100%;
}
body {
  color: $dark-grey;
  font: 400 125%/1.5 'Quarto A', 'Quarto B', 'Georgia', sans-serif;
  //font: 400 125%/1.5 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Arial, serif;
  min-height: 100%;
  height: 100%;
  position: relative;
  width:100%;
}
section {
  padding: 7em 2em 3em;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
hr {
  background-color: #e1e1e1;
  border: 0;
  clear:both;
  height: 1px;
  margin: 2em 0 3em;
  width: 100%;
}

// Typography

h1,h2,h3,h4 {
  font-family: 'Quarto A', 'Quarto B', 'Georgia', sans-serif;
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 4em;
  line-height: 1.2;
  margin-bottom: 0.7em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.75em;
  margin-bottom: 0.75em;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}
p {
  margin: 0 auto 1.5em;
  max-width: 700px;
  width: 100%;
  &.intro {
    font-size: 1.4em;
    text-align: left;
    &:first-letter {
      float: left;
      line-height: 1;
      font-size: 3em;
      font-weight: 700;
      margin: 0 0.2em 0 0;
    }
  }
}
figure {
  text-align: center;
  blockquote {
    font-family: 'Quarto A', 'Quarto B', 'Georgia', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    padding: 0 2em;
  }
}


// Links

a {
  color: $dark-grey;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $dark-grey;
  }
}

// Forms 

input, textarea {
  border: 0;
  display: block;
  font-family: 'Quarto A', 'Quarto B', 'Georgia', sans-serif;
  font-size: 1.2em;
  padding: 0.6em;
  @include box-sizing(border-box);
  width: 100%;
  &[type="radio"],
  &[type="checkbox"] {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: auto;
  }
}
textarea {
  min-height: 200px;
}
label {
  display: block;
  margin-bottom: 0.2em;
  > input {
    display: inline-block;
    margin-right: 0.5em;
    position: relative;
    top: -2px;
    vertical-align: middle;
  }
}
fieldset {
  > div {
    margin-bottom: 1em;
  }
}

.button {
  background-color: $dark-grey;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: 'Quarto A', 'Quarto B', 'Georgia', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  margin: 0 auto;
  padding:0.6em 2em;
  text-align: center;
  &:hover {
    background-color: darken($dark-grey, 10%);
    color: #fff;
    @include transition(background-color 0.1s linear);
  }
}

// Header 

#header {
  left: 0;
  padding: 2em;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 100;
}
nav {
  font-family: 'Quarto A', 'Quarto B', 'Georgia', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  li {
    display: inline;
    margin-right: 2em;
    &:nth-child(2) {
      margin-right: 200px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
#logo {
  left: 50%;
  margin-left: -40px;
  position: absolute;
  top: 1.5em;
  .logo-left {
    fill: #fff;
  }
  .logo-right {
    fill: #e1e1e1;
  }
}

// Footer

#footer {
  border-top: 1px solid #e1e1e1;
  padding: 3em 0;
  text-align: center;
}

// Homepage 

.featured {
  background-color: $dark-grey;
  color: #fff;
  min-height: 100%;
  height: 100%;
  min-height: 800px;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  article {
    display: none;
    height: 100%;
    padding-top: 150px;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    @include box-sizing(border-box);
  }
}

.home-intro {
  margin: 0 auto;
  max-width: 700px;
  padding: 3em 2em;
  text-align: center;
  width: 100%;
  @include box-sizing(border-box);
  > h1 {
    font-size: 2em;
    text-align: center;
  }
  > p {
    text-indent: 1em;
    text-align: left;
  }
}

// Per client body class changes

// Alfred

body.alfred-app {
  @include colour-scheme($alfred-color, $button: true, $lighten: true);
  .featured {
    @extend %header-shadow;
    article:nth-child(1) {
      background: url('/images/work/alfred-app/alfred-app-featured.png') no-repeat center bottom;
      background-size: 95%;
      display: block;
      margin: 0 auto;
      max-width: 1177px;
    }
  }
}

body.trickets {
  @include colour-scheme($trickets-color, $button: true, $lighten: true);
  .featured {
    background: #281304 url('/images/work/trickets/trickets-featured.jpg') no-repeat bottom center;
    background-size: cover;
    color: #cec3b7;
    article:nth-child(2) {
      display: block;
    }
  }
}

body.sports-digest-8-50 {
  @include colour-scheme($sports-digest-color, $button: true, $lighten: true);
  .featured {
    background: url('/images/work/sports-digest-8-50/8-50-background.jpg') no-repeat center;
    background-size: cover;
    color: #00ae5a;
    article:nth-child(3) {
      display: block;
    }
  }
  &.page-index {
    @include colour-scheme($sports-digest-color, $button: true, $lighten: false);
  }
}

body.alton-convent-school {
  @include colour-scheme($alton-convent-color, $button: true, $lighten: true);
  .featured {
    background: url('/images/work/alton-convent-school/alton-convent-background.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    article:nth-child(4) {
      display: block;
    }
  }
  &.page-index {
    @include colour-scheme($alton-convent-color, $button: true, $lighten: false);
  }
}

body.mind-the-product {
  @include colour-scheme($mtp-color, $button: true, $lighten: true);
}

body.backpagefootball {
  @include colour-scheme($backpagefootball-color, $button: true, $lighten: true);
}

body.toto {
  @include colour-scheme($toto-color, $button: true, $lighten: true);
}

body.cold-claim {
  @include colour-scheme($cold-claim-color, $button: true, $lighten: true);
}

body.super-better {
  @include colour-scheme($super-better-color, $button: true, $lighten: true);
}

// Work page 

.page-work {
  @include colour-scheme($dark-grey, $button: true, $lighten: true);
}
.work-list {
  letter-spacing: -4px;
  margin: 0 auto;
  max-width: 1000px;
  word-spacing: -4px;
  width: 100%;
  li {
    display: inline-block;
    list-style: none;
    letter-spacing: 0;
    position: relative;
    word-spacing: 0;
    vertical-align: top;
    width: 33%;
    @include transition(all 0.01s linear);
    &:hover {
      box-shadow: 0 0 30px rgba(#000, 0.3);
      z-index: 10;
      transform: scale(1.02);
    }
    h2 {
      display: none;
    }
  }
}
.work-nav {
  li {
    list-style: none;
    margin-top: -60px;
    top: 50%;
    position: fixed;
    z-index: 100;
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }
  a {
    display: block;
    font-size: 2em;
    line-height: 0.5;
    padding: 0.8em 0.8em 1em;
    text-align: center;
    > span {
      display: none;
    }
  }
}
.work-item {
  padding: 0;
  > div:not(.featured) {
    margin: 0 auto;
    max-width: 1000px;
    padding: 3em 2em;
    width: 100%;
    @include box-sizing(border-box);
  }
  h1 {
    margin-bottom: 0.2em;
  }
  p {
    max-width: 100%;
    width: 100%;
    &.intro {
      float: left;
      margin-right: 10%;
      width: 60%;
    }
  }
  .client-header {
    padding: 7em 2em 0;
    position: relative;
    @include box-sizing(border-box);
    @extend %header-shadow;
  }
}
.project-link {
  text-align: center;
}
.what-we-did {
  float: left;
  font-size: 1.2em;
  width: 30%;
  h2 {
    margin: 0;
    text-align: left;
  }
  li {
    margin-bottom: 0.27em;
  }
}
.gallery {
  .image {
    background-color: #f2f2f2;
    margin-bottom: 2em;
    padding: 3em;
  }
}

// Individual client pages


// Blog 

.page-blog {
  a {
    color: $link-blue;
    &:hover {
      color: darken($link-blue, 10%);
    }
  }
  #logo {
    .logo-left {
      fill: lighten($link-blue, 30%);
    }
    .logo-right {
      fill: $link-blue;
    }
  }
  .blog {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    h1,h2 {
      margin: 0;
      text-align: center;
    }
    small {
      color: lighten($link-blue, 30%);
      display: block;
      margin-bottom: 1em;
      text-align: center;
    }
    time {
      color: lighten($link-blue, 30%);
      display: block;
      margin-bottom: 1em;
      text-align: center;
    }
    .read-more {
      text-align: center;
    }
    article {
      margin-bottom: 3em;
      img {
        display: block;
        margin: 0 auto 2em;
      }
      > p {
        text-indent: 1em;
      }
    }
  }
}

// About page

body.page-about {
  @include colour-scheme($about-red, $button: true, $lighten: true);
}

// Contact page 

body.page-contact {
  @include colour-scheme($contact-green, $button: true, $lighten: true);
  text-align: center;
  section {
    padding-bottom: 6em;
  }
}
.contact-menu {
  border-top: 1px solid lighten($contact-green,15%);
  border-right: 1px solid lighten($contact-green,15%);
  margin: 0 auto;
  max-width: 700px;
  overflow: hidden;
  width: 100%;
  @include box-sizing(border-box);
  li {
    border-left: 1px solid lighten($contact-green,15%);
    border-bottom: 1px solid lighten($contact-green,15%);
    display: inline;
    float: left;
    width: 50%;
    @include box-sizing(border-box);
    > a {
      display: block;
      padding: 0.8em;
    }
    &.active {
      border-bottom: 0;
    }
  }
}
.contact-form {
  border-left: 1px solid lighten($contact-green,15%);
  border-right: 1px solid lighten($contact-green,15%);
  border-bottom: 1px solid lighten($contact-green,15%);
  margin: 0 auto;
  max-width: 700px;
  padding: 1em;
  text-align: left;
  width: 100%;
  @include box-sizing(border-box);
  @include transition(opacity 0.01s linear);
  &.hidden {
    display: none;
    opacity: 0;
  }
  &.active {
    display: block;
    opacity: 1;
  }
}