@import "partials/common";
@import "partials/normalize";
//@import "partials/gridset";
@import "partials/o_gridset";

// Basic layout setup

html {
  background-color: $white;
  width:100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  background-color: #fff;
  color: $dark-grey;
  font: 300 125%/1.5 $sentinel;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  width:100%;
}