<% wrap_layout :layout do %>
  <section class="blog">
    <article>
      <h1><%= current_page.title %></h1>
      <time datetime="current_page.date.strftime('%b %e %G')"><%= current_page.date.strftime('%b %e, %G') %></time>
      <%= yield %>
    </article>
  </section>
<% end %>