<% content_for(:title, "Blog") %>

<section class="blog">

  <header class="section-header">
    <h1>Our Blog</h1>  
  </header>

  <div class="blog-list">
    
    <% data.blog.articles.sort_by{ |id,a| a[:date] }.reverse.each do |id, article| %>
      <%= partial "blog_summary", :locals => { :article => article } %>
    <% end %>

  </div>

</section>