<% content_for(:title, "Tag - #{blog_tag}") %>
<% content_for(:description, "Articles tagged #{blog_tag} on Capra") %>

<section class="blog">

  <header class="section-header">
    <p>Articles tagged under</p>
    <h1><%= blog_tag.humanize %></h1>  
  </header>

  <div class="blog-list">
    
    <% 
      tag_posts = data.blog.articles.to_a.select do |article|
        article[1][:tags].include? blog_tag
      end
    %>
    
    <% tag_posts.each do |article| %>
      <%= partial "blog_summary", :locals => { :article => article[1] } %>
    <% end %>

  </div>

  <%#= link_to "Next page", pagination.next_page.url if pagination.next_page %>

</section>