<% summary = article.summary.gsub!(/<a href.*(http:[^"']+).*>(.*)<\/a>/i) { "#{$2} #{$1}" } %>

<article class="summary">
  <h2><%= link_to article.title, article.url %></h2>
  <time class="meta" datetime="article.date.strftime('%b %e %G')"><%= article.date.strftime('%b %e, %G') %></time>
<!--   <p><%#= article.summary %></p>
  <p class="read-more"><%#= link_to("Read more...", article.url) %></p> -->
</article>