<figure>
  <blockquote>
    <% if featured == true %>
      <p><%= client.featured_testimonial %></p>
    <% else %>
      <p><%= client.testimonial %></p>
    <% end %>
  </blockquote>
  <figcaption><%= client.cite %></figcaption>
</figure>
<hr>