<figure class="client-blockquote">
  <% if page("index.html") || page("about.html") %>
    <h3>Our clients love us!</h3>
  <% end %>
  <blockquote>
    <% if featured == true %>
      <p><%= client.featured_testimonial %></p>
    <% else %>
      <p><%= client.testimonial %></p>
    <% end %>
  </blockquote>
  <figcaption><%= client.cite %></figcaption>
</figure>