<figure class="client-blockquote narrow">
  <blockquote class="anim-block">
    <% if featured == true %>
      <p><%= client.featured_testimonial %></p>
    <% else %>
      <p><%= client.testimonial %></p>
    <% end %>
  </blockquote>
  <figcaption class="anim-block"><%= client.cite %></figcaption>
</figure>