<div class="work-list">
  <% 
    featured = data.work_items.clients.select{|item| item.featured rescue false }
    featured.each_with_index do |client| %>
    <article class="ft-<%= client.url %> work-list-item">
      <% link_to("/work/#{client.url}/") do %>
        <%= image_tag("#{client.image_path}/#{client.image_featured}", :alt => "") %>
        <div class="work-list-content">
          <h2><%= client.name %></h2>
          <p>View project details</p>
        </div>
      <% end %>
    </article>
  <% end %>
</div>