<section class="featured">

  <% data.featured.items.each_with_index do |item, index| %>
    <article>
      <h2><%= item.title %></h2>
      <%= link_to("View project »", item.link) %>
    </article>
  <% end %>

</section>