<section class="featured">

  <% data.work_items.clients.each_with_index do |client, index| %>
    <article class="ft-<%= client.url %>">
      <h2><%= client.title %></h2>
      <%= link_to("View project »", "/work/#{client.url}/") %>
    </article>
  <% end %>

</section>