<section class="featured">
  <article>
    <h2>Designed to make you more productive.</h2>
    <%= link_to("View project »", "work/alfredapp") %>
  </article>
  <article>
    <h2>Trickits helps reclaim wonder in our natural world.</h2>
    <%= link_to("View project »", "work/trickets") %>
  </article>
  <article>
    <h2>Simple sports news, for both Android and iOS.</h2>
    <%= link_to("View project »", "work/8-50") %>
  </article>
  <article>
    <h2>Top marks for a leading independent school.</h2>
    <%= link_to("View project »", "work/alton-convent-school") %>
  </article>
</section>