<div class="featured-projects">
  <h2>Featured Projects</h2>
  <% 
    featured = data.work_items.clients.select{|item| item.featured rescue false }
    featured.each_with_index do |client, index|
    image_url = "work/#{client.url}/#{client.image_featured}" %>
    <article class="ft-<%= client.url %>">
      <% link_to("/work/#{client.url}/") do %>
        <%= image_tag(image_url, alt: "") %>
        <h3><%= client.title %></h3>
      <% end %>
    </article>
  <% end %>
</div>

