<header class="site-header">
  <%= partial "logo" %>
  <nav class="navigation" role="navigation">
    <%= partial "page_navigation", :locals => { :social => true } %>
    <%= link_to("Menu", "#", class: "resp-nav") %>
  </nav>
</header>