<div id="logo">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
   viewBox="0 0 81 75.186" preserveAspectRatio="xMinYMin meet">
     <a xlink:href="/">
      <rect visibility="hidden" pointer-events="all" height="100%" width="100%"></rect>
      <path class="logo-left" fill="#FFFFFF" d="M29.532,31.243c0,0-2.116,2.788-4.474,4.573C13.591,44.495,0.89,31.817,0.89,31.817l7.517,14.268
      l5.255,0.949l10.854-4.183L25.6,53.07l9.169,20.952l5.73,1.164V34.445L29.532,31.243z M15.4,35.609
      c14.024,0.023,16.602-16.61,8.42-24.226c-6.934-6.455-16.736-1.669-15.998,7.61c0.344,4.321,3.701,7.565,6.779,7.617
      c2.841,0.048,5.858-1.692,6.034-4.793c0.129-2.295-3.091-3.836-3.091-3.836s-1.088,2.042-2.972,2.888
      c-1.885,0.845-4.385,0.483-4.618-2.018c-0.567-6.068,6.084-9.835,11.134-5.565c5.047,4.269,3.556,16.644-5.158,16.853
      C6.377,30.366,2.078,20.065,6.55,12.017c2.947-5.302,9.958-7.521,14.865-5.863c5.543,1.87,11.641,9.125,9.497,22.405l8.315,2.349
      c0,0,0.534-32.638-22.785-30.836C2.665,1.137-1.172,14.253,0.292,21.848C1.817,29.766,8.222,35.596,15.4,35.609z"/>
      <path class="logo-right" fill="#E2E2E2" d="M55.942,35.816c-2.358-1.784-4.474-4.573-4.474-4.573L40.5,34.445v40.741l5.73-1.164L55.4,53.07
      l1.083-10.218l10.854,4.183l5.255-0.949l7.517-14.268C80.11,31.817,67.409,44.495,55.942,35.816z M64.558,0.072
      C41.238-1.73,41.773,30.908,41.773,30.908l8.315-2.349c-2.143-13.28,3.955-20.535,9.498-22.405
      c4.907-1.658,11.917,0.561,14.865,5.863c4.472,8.047,0.174,18.349-9.379,18.121c-8.714-0.209-10.205-12.584-5.158-16.853
      c5.049-4.27,11.7-0.504,11.134,5.565c-0.233,2.501-2.733,2.863-4.618,2.018c-1.884-0.846-2.972-2.888-2.972-2.888
      s-3.221,1.542-3.091,3.836c0.177,3.102,3.193,4.841,6.034,4.793c3.078-0.052,6.436-3.296,6.779-7.617
      c0.738-9.279-9.064-14.065-15.998-7.61c-8.182,7.616-5.604,24.25,8.42,24.226c7.178-0.012,13.582-5.843,15.108-13.76
      C82.172,14.253,78.335,1.137,64.558,0.072z"/>
    </a>
  </svg>
</div>