<ul class="page-nav">
  <li><%= link_to("Work", "/work/", nav_active("/work/")) %></li>
  <li><%= link_to("About", "/about/", nav_active("/about/")) %></li>
  <li><%= link_to("Contact", "/contact/", nav_active("/contact/")) %></li>
  <% if social %>
    <li class="social">
      <%= partial "social_links", :locals => { 
          twitter_link: "thisiscapra", 
          github_link: "thisiscapra", 
          linkedin_link: "company/capra-limited", 
        }
      %>
    </li>
  <% end %>
</ul>