<ul class="social-links">
  <%= content_tag(:li, link_to("<span>Twitter</span>", "https://twitter.com/#{twitter_link}", class: "icon-twitter", target: "_blank")) if locals.key? :twitter_link %>
  <%= content_tag(:li, link_to("<span>Github</span>", "https://github.com/#{github_link}", class: "icon-github", target: "_blank")) if locals.key? :github_link  %>
  <%= content_tag(:li, link_to("<span>Linkedin</span>", "https://linkedin.com/#{linkedin_link}", class: "icon-linkedin", target: "_blank")) if locals.key? :linkedin_link %>
</ul>