<ul class="work-list">
  <% items.each do |l| %>
    <li class="<%= l.url %>">
      <% link_to("/#{path}/#{l.url}/") do %>
        <%= image_tag("#{l.image_path}/#{l.image_featured}", :alt => "") %>
        <div class="content">
          <h2><%= l.name %></h2>
          <p>View project details</p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>