<div class="work-list">
  <% items.each do |l| %>
    <article class="work-list-item wl-<%= l.url %>">
      <% link_to("/#{path}/#{l.url}/") do %>
        <%= image_tag("#{l.image_path}/#{l.image_featured}", :alt => "") %>
        <div class="work-list-content">
          <h2><%= l.name %></h2>
          <p>View project details</p>
        </div>
      <% end %>
    </article>
  <% end %>
</div>