<% 
  work_pages = data.work_items.clients.delete_if {|p| "/work/#{p.url}" == current_resource.url } 
%>
<div class="work-list container">
  <% work_pages.sample(2).each_with_index do |p, index| %>
    <article class="work-list-item wl-<%= p.url %>">
      <% link_to("/work/#{p.url}/") do %>
        <%= image_tag("#{p.image_path}/#{p.image_featured}", :alt => "") %>
        <div class="work-list-content">
          <h2><%= p.name %></h2>
          <p>View project details</p>
        </div>
      <% end %>
    </article>
  <% end %>
</div>