<% content_for(:title, "We love designing for clients who share our vision for a better world.") %>
<% content_for(:description, "Our focus is great design for great projects. We love doing interactive work like websites, games and apps because we get to be involved in building what we design.") %>

<section class="about container">

  <header class="about-header">

    <h1>Designing technology for the environment</h1>

    <div class="content">
      
      <p>We build gorgeous, custom digital solutions that helps others collect, manage and share environmental data. Water quality is our specialty, but we do everything. And by the way, we also develop the data collection kits to collect parameters in the field and games that help motivate participants to understand why it's important.</p>

      <p>Capra is a solution to very specific issues that our founders recognized and addressed in their environmental science work. Designing environmental monitoring kits, developing open data standards, establishing successful monitoring programs, and building data sharing platforms used by millions of people are just a few examples of the solutions we've executed.</p>
      
      <h4>So, how does your organization handle the collection, management, and sharing of your environmental data?</h4>

    </div>

    <%= partial "images/alfalfa-about.svg" %>

  </header>

  <div class="what-we-do">

    <h2>Our process</h2>

    <div class="what-we-do-intro">

      <p>Our process begins with creating simple paper prototypes and interactive wireframes that help both us and our clients plan and create content. We often build apps as we’re designing them, and we make sure they look great on mobile and desktop.</p>

      <p><strong>We also like to review and improve our designs based on real-world testing.</strong> When real people are using our designs, we can further improve on the best practices we always implement upfront. We have long-term clients with whom we love to work with to achieve their goals and through testing, we have improved conversion rates and reduced confusion.</p>

    </div>

    <div class="what-we-do-process">

      <!-- <h4>Design & Build</h4> -->
      <strong>Design and build</strong>
      <ul>
        <li>App design and development</li>
        <li>Web development</li>
        <li>UX design</li>
        <li>Branding &amp; graphic design</li>
        <li>Open data integration</li>
        <li>Game design</li>
      </ul>
      <strong>Other services</strong>
      <ul>
        <li>Monitoring tool development</li>
        <li>Consultation</li>
        <li>Education/curriculum</li>
        <li>Public speaking</li>
      </ul>

    </div>

  </div>

  <div id="twitter"></div>

  <div class="why-capra">

    <h2>Why Capra?</h2>

    <div class="why-capra-intro">

      <p>Capra is the Greek word for a category of mammals that comprises both wild and domestic goats. Goats are known to be intelligent, adaptive and playful, and just like them, we love to explore new technologies, explore new places and play games. While we don&#8217;t own any goats yet, we hope to someday!</p>
      
    </div>

    <%= partial "images/goat-about.svg" %>

  </div>

  <%#= partial "social" %>
  
  <% featured_quote = data.work_items.clients.select{|client| client.featured_testimonial rescue false } %>
  <%= partial "client_blockquote", :locals => { client: featured_quote.sample(), featured: true } %>

</section>