<% content_for(:title, "About") %>

<section class="about">

  <header class="content">
    <h1>About Capra</h1>

    <p class="intro">Capra is a design agency based in Ottawa, Canada run by husband and wife team Ollie and Kat Kavanagh.</p>

    <p>Our focus is great design for great projects. We love interactive work like websites, games and apps because we get involved in building what we design. For simple projects, we take care of all the development. </p>
    <p>For bigger projects, we like to team up with talented developers and work with them as they code to make sure we keep our design vision intact. We believe the best work comes from great collaboration! We've been responsible for implementing our designs right into applications such as ruby-on-rails, python, php, unity, .net, phonegap and java and are always experimenting with the latest tools to use the right solution for a problem.</p>
  </header>

  <div>

    <h2>What we do</h2>

    <div class="row">


      <div class="col col-2">
        <h3>Design</h3>
        <ul>
          <li>Web design</li>
          <li>iOS and Android app design</li>
          <li>User experience design</li>
          <li>Branding &amp; print work</li>
          <li>Content management</li>
          <li>Responsive web development</li>
          <li>Casual game design</li>
        </ul>
      </div>
      

      <div class="col col-3 last">
        <h3>Technologies</h3>
        <ul>
          <li>HTML5</li>
          <li>CSS3 with SASS</li>
          <li>Jquery and Javascript</li>
          <li>Ruby-on-rails</li>
          <li>PHP (Wordpress)</li>
          <li>Phonegap (mobile development)</li>
        </ul>
      </div>

    </div>

    <p>We also like to iterate our designs based on real-world testing. When real people are using our designs, we can further improve on the best practices we always implement upfront.  We have long-term clients who we love to work with to achieve their goals and through testing we have improved conversion rates and reduced confusion.</p>

    <hr>

    <h2>The team</h2>

    <%= image_tag("about.jpg", :alt => "Ollie & Kat sitting with dogs") %>

    <hr>

    <div class="row">
      
      <div class="col col-2">
        <h3>Ollie Kavanagh</h3>
        <h4>Designer, coder, problem solver</h4>
        <p>Ollie is a rare designer: he is equally comfortable designing beautiful, elegant interfaces (with superb typography)  as he is delving into the front-end code.  He is responsible for setting up processes for Capra’s technology.</p>
        <p>Ollie is originally from England and has just immigrated to Canada!  He is also an avid Liverpool football supporter, has an unhealthy obsession with Nike trainers, loves DJing drum and bass and House music, and hopes to someday become an expert snowboarder.</p>
      </div>

      <div class="col col-2 last">
        <h3>Kat Kavanagh</h3>
        <h4>Designer, coder, ideas generator</h4>
        <p>Kat loves coming up with new ideas, and her focus is on designing and building interfaces and games that are beautiful and engaging. She is also responsible for more of the business runnings at Capra.</p>
        <p>Kat has just returned to Canada, where she was born and raised. She loves Canada’s great outdoors especially hiking with their dogs, Kenny and Phoebe. She is currently training the dogs with hopes of becoming an agility champion.  She also loves gardening, sewing and snowboarding.</p>
      </div>

    </div>

    <h2>Why Capra?</h2>
    <blockquote>Capra is a genus of mammals, the goats or wild goats, composed of up to nine species, including the wild goat, the markhor, and several species known as ibex. The domestic goat (Capra aegagrus hircus) is a domesticated subspecies of the wild goat (Capra aegagrus). Evidence of goat domestication dates back more than 8,500 years.</blockquote>
    <cite><a href="http://en.wikipedia.org/wiki/Capra_(genus)" alt="Capra on Wikipedia">Wikipedia</a></cite>

    <p>Goats are known to be intelligent, adaptive and playful. Just like goats, we love to explore new technologies, explore new places and play games.  While we don't own any goats of our own quite yet, we hope to someday!</p>

  </div>

</section>