<% content_for(:title, "About") %>

<section class="about content">
  
  <h1>About Capra</h1>

  <p class="intro">Capra is a design agency based in Ottawa, Canada run by husband and wife team Ollie and Kat Kavanagh.</p>

  <p>Our focus is great design.  We love interactive work like websites, games and apps because we get involved in building what we design.  For bigger projects, we like to team up with talented developers and work with them as they code to make sure we keep our design vision intact.  We believe the best work comes from great collaboration!</p>

  <p>We also like to iterate our designs based on real-world testing. When real people are using our designs, we can further improve on the best practices we always implement upfront.  We have long-term clients who we love to work with to achieve their goals and through testing we have improved conversion rates and reduced confusion.</p>

  <h3>What we do</h3>

  <ul>
    <li><h4>Branding</h4></li>
    <li>Naming</li>
    <li>Logo design</li>
    <li>Brand guidelines</li>
    <li>Print collateral</li>

  </ul>

  <ul>
    <li><h4>Design</h4></li>
    <li>Web design</li>
    <li>iOS and Android app design</li>
    <li>User experience design</li>
    <li>Content management</li>
    <li>Responsive web development</li>
    <li>Casual game design</li>
  </ul>

  <ul>
    <li><h4>Technologies used</h4></li>
    <li>HTML with SCSS (CSS)</li>
    <li>Jquery and Javascrip</li>
    <li>Ruby-on-rails</li>
    <li>PHP (Wordpress)</li>
    <li>Phonegap (mobile development)</li>
  </ul>


  <h2>Ollie Kavanagh</h2>
  <h4>Designer, coder, problem solver</h4>
  <p>Ollie is a rare designer: he is equally comfortable designing beautiful, elegant interfaces (with superb typography)  as he is delving into the front-end code.  He is responsible for setting up processes for Capra’s technology.</p>
  <p>Ollie is originally from England and has just immigrated to Canada!  He is also an avid Liverpool football supporter, has an unhealthy obsession with Nike trainers, loves DJing drum and bass and House music, and hopes to someday become an expert snowboarder.</p>

  <h2>Kat Kavanagh</h2>
  <h4>Designer, coder, ideas generator</h4>
  <p>Kat loves coming up with new ideas, and while is a great front-end coder, prefers designing interfaces that are engaging and usable.  She is also responsible for more of the business runnings at Capra.</p>
  <p>Kat has just returned to Canada, where she was born and raised. She loves Canada’s great outdoors especially hiking and training their dogs, Kenny and Phoebe. She hopes to become agility champions someday.  She also loves gardening, sewing and snowboarding.</p>

</section>