<% content_for(:title, "We love designing for clients who share our vision for a better world.") %>
<% content_for(:description, "Our focus is great design for great projects. We love doing interactive work like websites, games and apps because we get to be involved in building what we design.") %>

<section class="about container">

  <header class="about-header">

    <h1>Our focus is great design for great projects.</h1>

    <div class="content">
      
      <p>We love doing interactive work like websites, games and apps because we get to be involved in building what we design. For simple projects, we take care of all the development.</p>
      
      <p>For bigger projects, we like to team up with talented developers, product managers and marketers as they plan and code up the project to make sure we keep our design vision intact.</p>
      
      <h4>We believe the best work comes from collaboration with other talented people!</h4>

    </div>

    <%= partial "images/alfalfa-about.svg" %>

  </header>

  <div class="what-we-do">

    <h2>Our process</h2>

    <div class="what-we-do-intro">

      <p>Our process begins with creating simple paper prototypes and interactive wireframes that help both us and our clients plan and create content. We often build apps as we’re designing them, and we make sure they look great on mobile and desktop.</p>
      
      <p>We work directly with developers to implement our designs right into languages such as ruby-on-rails, python, php, unity, .net, xCode and java. We are always experimenting with the latest tools to use the right solution for a problem.</p>

      <p><strong>We also like to review and improve our designs based on real-world testing.</strong> When real people are using our designs, we can further improve on the best practices we always implement upfront.  We have long-term clients with whom we love to work with to achieve their goals and through testing, we have improved conversion rates and reduced confusion.</p>

    </div>

    <div class="what-we-do-process">

      <!-- <h4>Design & Build</h4> -->
      <strong>Design</strong>
      <ul>
        <li>Web design</li>
        <li>App design</li>
        <li>UX design</li>
        <li>Branding &amp; print</li>
        <li>Content management</li>
        <li>Responsive design</li>
        <li>Casual game design</li>
      </ul>
      <strong>Build</strong>
      <ul>
        <li>HTML5</li>
        <li>CSS3 with SASS/LESS</li>
        <li>Jquery &amp; Javascript</li>
        <li>Ruby-on-rails</li>
        <li>PHP <small>(Wordpress)</small></li>
        <li>Phonegap <small>(mobile development)</small></li>
      </ul>

    </div>

  </div>

  <div id="twitter"></div>

  <div class="why-capra">

    <h2>Why Capra?</h2>

    <div class="why-capra-intro">

      <p>Capra is the Greek word for a category of mammals that comprises both wild and domestic goats. Goats are known to be intelligent, adaptive and playful, and just like them, we love to explore new technologies, explore new places and play games. While we don&#8217;t own any goats yet, we hope to someday!</p>
      
    </div>

    <%= partial "images/goat-about.svg" %>

  </div>

  <%#= partial "social" %>
  
  <% featured_quote = data.work_items.clients.select{|client| client.featured_testimonial rescue false } %>
  <%= partial "client_blockquote", :locals => { client: featured_quote.sample(), featured: true } %>

</section>