<% content_for(:title, "About") %>

<section class="about content">
  
  <h1>About Capra</h1>

  <p class="intro">With a basketful of design skills, and an incredible extended family, Capra is the design work of Kat Kavanagh, who designs and builds beautiful websites, games and more.</p>

  <p>My projects range from the corporate to the playfully gameful. I believe websites should make sense to first-time users and allow them to find information intuitively, without overthinking or needing training. I work hard to reflect our clients’ brand personalities through my designs and am thrilled when they feel as proud of their end product as I do, helping them with everything from branding to coding to testing.</p>

</section>