<% content_for(:title, "Contact us") %>
<% content_for(:description, "Thinking of a new website, game or application? Or just want to get in shoot the breeze with us? Use one of the options below and we'll get back to you in a jiffy.") %>

<section class="contact">

  <header class="section-header">
    <h1>Contact us</h1>
    <p class="intro">We are currently booked up for work until <strong>January 2017</strong>. If that still works for you, or you'd just like to chat, use one of the options below and we&#8217;ll get back to you in a jiffy.</p>
  </header>

  <ul id="contact-scroll" class="contact-menu">
    <li><%= link_to('I have a project', '#project', class: 'tab') %></li>
    <li><%= link_to('I want to say &#8220;Hi!&#8221;', '#general', class: 'tab') %></li>
  </ul>

  <div class="content">

    <div id="project" class="contact-form">
      <h2>Project enquiry</h2>
      <form accept-charset="UTF-8" name="project-enquiry" action="/thank-you" netlify>
        <input type="hidden" name="utf8" value="✓">
        <fieldset>
          <div>
            <label>Your name <abbr class="req" title="required">*</abbr></label>
            <input type="text" name="name" required>
          </div>
          <div>
            <label>Your email <abbr class="req" title="required">*</abbr></label>
            <input type="email" name="email" required>
          </div>
          <div>
            <label>Your website / app / game</label>
            <input type="url" name="url">
          </div>
          <div>
            <label>Your company</label>
            <input type="text" name="company">
          </div>
          <div>
            <label>Telephone number</label>
            <input type="text" name="telephone">
          </div>
          <div class="radios">
            <h3>What is your project budget?</h3>
            <p>We are located in Canada, but work with clients worldwide. If you wish, we can provide you with a quote in your own currency.</p>

            <label for="budget_under_3000"><input type="radio" id="budget_under_3000" name="budget" value="under $3,000"> Under $3000</label>
            <label for="budget_3000_7000"><input type="radio" id="budget_3000_7000" name="budget" value="$3,000-$7,000"> $3,000-$7,000</label>
            <label for="budget_7000_10000"><input type="radio" id="budget_7000_10000" name="budget" value="$7,000-$10,000"> $7,000-$10,000</label>
            <label for="budget_10000_20000"><input type="radio" id="budget_10000_20000" name="budget" value="$10,000-$20,000"> $10,000-$20,000</label>
            <label for="budget_20000_plus"><input type="radio" id="budget_20000_plus" name="budget" value="Over $20,000"> Over $20,000</label>
            <label for="budget_hourly"><input type="radio" id="budget_hourly" name="budget" value="budget hourly"> Hourly on-going work</label>
          </div>
          <div class="radios">
            <h3>What type of project is it?</h3>
            <label for="website"><input type="radio" id="website" name="type" value="Website"> Website</label>
            <label for="web_app"><input type="radio" id="web_app" name="type" value="Web Application"> Web Application</label>
            <label for="mobile_app"><input type="radio" id="mobile_app" name="type" value="Mobile Application"> Mobile Application</label>
            <label for="other"><input type="radio" id="other" name="type" value="IOther"> Other</label>
          </div>
          <div>
            <h3>Project description <abbr class="req" title="required">*</abbr></h3>
            <textarea name="description" placeholder="Describe to us the purpose of your project and anything else you think we need to know..."></textarea>
          </div>
          <input type="submit" name="" value="Send enquiry" class="button">
        </fieldset>
      </form>
    </div>

    <div id="general" class="contact-form">
      <h2>Hello!</h2>
      <form accept-charset="UTF-8" name="general-enquiry" action="/thank-you" netlify>
        <input type="hidden" name="utf8" value="✓">
        <fieldset>
          <div>
            <label for="general_name">Your name <abbr class="req" title="required">*</abbr></label>
            <input type="text" name="general_name" required>
          </div>
          <div>
            <label for="general_email">Your email <abbr class="req" title="required">*</abbr></label>
            <input type="email" name="general_email" required>
          </div>
          <div>
            <label for="general_email">Your message <abbr class="req" title="required">*</abbr></label>
            <textarea name="general_description" required></textarea>
          </div>
          <div>
            <input type="submit" name="" value="Send enquiry" class="button">
          </div>
        </fieldset>
      </form>
    </div>

    <p class="email-contact">If you don&#8217;t fancy using the form just drop us an email at <%= link_to("design@thisiscapra.com", "mailto:design@thisiscapra.com") %>.</p>

  </div>

</section>