<% content_for(:title, "Capra builds technology that supports environmental monitoring for water.") %>
<% content_for(:description, "We like to collaborate to design and build beautiful websites, apps and casual games. We choose clients who are making a difference. From educational games to productivity tools, our clients share our passion for sports, the environment, and education.") %>

<section class="home container">

  <header class="home-header">
    
    <h1><span>We</span> <span>Love</span> <span class="design">Water</span></h1>
    <p>We are passionate about building solutions that support the public to participate in environmental monitoring. <%= link_to("Find out more...", "/about") %></p>
    <%= partial "images/goat-home.svg" %>
  
  </header>

  <%= partial "featured_projects" if page("index.html") %>

  <div class="home-about-us">
    
    <h3>We choose clients who are making a difference.</h3>
    
    <div class="content">
      <p>From data collection tools to educational games, our clients share our passion for protecting the environment. Our specialty is in water.</p>
      <p>We work hard to reflect our clients’ brand personalities through our designs and are thrilled when they feel as proud of the end product as we do.</p>
    </div>

  </div>

  <% featured_quote = data.work_items.clients.select{|client| client.featured_testimonial rescue false } %>
  <%= partial "client_blockquote", :locals => { client: featured_quote.sample(), featured: true } %>

</section>