<% content_for(:title, "Capra Labs") %>
<% content_for(:description, "Our playground to experiment with design and technology that interests us.") %>

<section class="labs container">
  <header class="section-header">
    <h1>Capra Labs</h1>
    <p>In our spare time we like to work on fun little side projects or get involved in hack days that promote social good.</p>
  </header>
  <%= partial "work_list", locals: { items: data.lab_items.labs, path: "labs" } %>
</section>