<% content_for(:title, "Thank you") %>
<% content_for(:description, "We've received your contact submission and we'll be in contact soon.") %>

<section class="thank-you content">
  
  <h1>Thanks!</h1>

  <p>We've received your contact submission and we'll be in contact soon.</p>

</section>