<section class="work">
  <h1>Our work</h1>
  <ul>
    <% data.work.items.each_with_index do |item, index| %>
      <li>
        <% link_to(item.link) do %>
          <%= image_tag(item.img, :alt => "") %>
          <h2><%= item.name %></h2>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>