<% content_for(:title, "Our work") %>
<% content_for(:description, "We love interactive work like websites, games and apps because we get involved in building what we design.") %>

<section class="work content">
  <h1>Our work</h1>
  <ul class="work-list">
    <% work_list = data.work_items.clients.select %>
    <% $stderr.puts work_list %>
    <% work_list.each do |c| %>
      <li id="<%= c.url %>" class="client">
        <% link_to("/work/#{c.url}/") do %>
          <% image_url = "#{c.image_path}/#{c.image_thumb}" %>
          <%= image_tag(image_url, :alt => "") %>
          <h2><%= c.name %></h2>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>