<% content_for(:title, "Our work") %>
<% content_for(:description, "We love interactive work like websites, games and apps because we get involved in building what we design.") %>

<section class="work content">
  <h1>Our work</h1>
  <ul class="work-list">
    <% $stderr.puts data.work_items %>
    <% $stderr.puts data.work_items.clients %>
    <% data.work_items.clients.each do |client| %>
      <li id="<%= client.url %>" class="client">
        <% link_to("/work/#{client.url}/") do %>
          <% image_url = "#{client.image_path}/#{client.image_thumb}" %>
          <%= image_tag(image_url, :alt => "") %>
          <h2><%= client.name %></h2>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>